<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Topjava</display-name>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.UserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>mealServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealServlet</servlet-name>
        <url-pattern>/meals</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mealUpdateServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealUpdateServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealUpdateServlet</servlet-name>
        <url-pattern>/meals/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mealDeleteServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealDeleteServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealDeleteServlet</servlet-name>
        <url-pattern>/meals/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mealCreateServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealCreateServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealCreateServlet</servlet-name>
        <url-pattern>/meals/add</url-pattern>
    </servlet-mapping>
</web-app>
